# SPDX-FileCopyrightText: 2022-present Intel Corporation
# SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: Apache-2.0

# Default values for all SD-RAN Helm charts.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  fullnameOverride: "onos"
  nameOverride: ""
  image:
    registry: ""
    tag: ""
  atomix:
    store:
      consensus:
        enabled: true
        name: ""
        image:
          registry: ""
          repository: atomix/consensus-node
          tag: ""
          pullPolicy: ""
          pullSecrets: []
        replicas: 3
        partitions: 30
        config:
          server: {}
          raft: {}
          logging:
            loggers:
              root:
                level: info
                output:
                  stdout:
                    sink: stdout
            sinks:
              stdout:
                stdout: {}
        log:
          storageClass: ""
          resources:
            requests:
              storage: 1Gi
        securityContext: {}

import:
  onos-topo:
    enabled: true
  onos-uenib:
    enabled: true
  onos-e2t:
    enabled: true
  onos-a1t:
    enabled: true
  onos-o1t:
    enabled: false
  onos-config:
    enabled: true
  onos-cli:
    enabled: true
  ran-simulator:
    enabled: false
  onos-gui:
    enabled: false
  onos-kpimon:
    enabled: false
  onos-pci:
    enabled: false
  fb-kpimon-xapp:
    enabled: false
  fb-ah-xapp:
    enabled: false
  fb-ah-gui:
    enabled: false
  onos-mho:
    enabled: false
  onos-mlb:
    enabled: false
  onos-rsm:
    enabled: false
  ah-eson-test-server:
    enabled: false
  rimedo-ts:
    enabled: false
  onos-exporter:
    enabled: false

onos-topo:
  store:
    consensus:
      enabled: false

onos-uenib:
  store:
    consensus:
      enabled: false

onos-config:
  store:
    consensus:
      enabled: false
  modelPlugins:
  - name: ric
    image: onosproject/ric:0.0.6-ric-1.0.0
    endpoint: localhost
    port: 5152

onos-e2t:
  store:
    consensus:
      enabled: false
  servicemodels:
    - name: e2sm_rc_pre_go
      version: 1.0.0
      image:
        repository: onosproject/service-model-docker-e2sm_rc_pre_go-1.0.0
        tag: v0.8.21
        pullPolicy: IfNotPresent
    - name: e2sm_kpm_v2_go
      version: 1.0.0
      image:
        repository: onosproject/service-model-docker-e2sm_kpm_v2_go-1.0.0
        tag: v0.8.21
        pullPolicy: IfNotPresent
    - name: e2sm_mho_go
      version: 1.0.0
      image:
        repository: onosproject/service-model-docker-e2sm_mho_go-1.0.0
        tag: v0.8.21
        pullPolicy: IfNotPresent
    - name: e2sm_rsm
      version: 1.0.0
      image:
        repository: onosproject/service-model-docker-e2sm_rsm-1.0.0
        tag: v0.8.21
        pullPolicy: IfNotPresent
    - name: e2sm_rc
      version: 1.0.0
      image:
        repository: onosproject/service-model-docker-e2sm_rc-1.0.0
        tag: v0.8.21
        pullPolicy: IfNotPresent

onos-cli:
  postInstall:
    placeholder: true
    topo: berlin-honeycomb-4-3-topo.yaml
    toponew: berlin-honeycomb-4-3-toponew.yaml
    config: [ berlin-honeycomb-4-3-gnmi.yaml ]


onos-exporter:
  config:
    onos-exporter:
      mode: "prometheus"
      e2tEndpoint: "onos-e2t:5150"
      xappPciEndpoint: "onos-pci:5150"
      xappKpimonEndpoint: "onos-kpimon:5150"
      topoEndpoint: "onos-topo:5150"
      uenibEndpoint: "onos-uenib:5150"
