# SPDX-FileCopyrightText: 2020-present Open Networking Foundation <info@opennetworking.org>
#
# SPDX-License-Identifier: LicenseRef-ONF-Member-1.0

# Default values for ran-simulator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  image:
    registry: ""
    tag: ""

replicaCount: 1

image:
  registry: ""
  repository: onosproject/ran-simulator
  tag: v0.7.11
  pullPolicy: IfNotPresent
  pullSecrets: []

googleApiKey: "YOUR_API_KEY_HERE"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: "ran-simulator"

store: {}

ingress:
  enabled: false

service:
  type: ClusterIP


servicemodels:
  - name: e2sm_kpm
    version: 1.0.0
    image:
      repository: onosproject/service-model-ransim-e2sm_kpm-1.0.0
      tag: v0.7.8
      pullPolicy: IfNotPresent
  - name: e2sm_rc_pre
    version: 1.0.0
    image:
      repository: onosproject/service-model-ransim-e2sm_rc_pre-1.0.0
      tag: v0.7.8
      pullPolicy: IfNotPresent

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

logging:
  loggers:
    root:
      level: info
      output:
        stdout:
          sink: stdout
  sinks:
    stdout:
      type: stdout
      stdout: {}
